name: Node CI/CD Pipeline

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: miksveg/test-node

jobs:

  build-test-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test || echo "No tests"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build image
      run: docker build -t $IMAGE_NAME:${{ github.sha }} .

    - name: Push image
      run: |
        docker push $IMAGE_NAME:${{ github.sha }}

    - name: Set image tag
      run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

    - name: Configure kubectl
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/node-app node-app=$IMAGE_NAME:$IMAGE_TAG
        kubectl rollout status deployment/node-app
        kubectl get svc

    - name: Rollback if failed
      if: failure()
      run: kubectl rollout undo deployment/node-app
